<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>Heart Failure Predictions Site</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/helath.ico') }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->
<!-- UiKit CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">


</head>

<body id="page-top" class="politics_version">

	<!-- LOADER -->
	<div id="preloader">
		<div id="main-ld">
			<div id="loader"></div>
		</div>
	</div><!-- end loader -->
	<!-- END LOADER -->

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
		<div class="container">
			
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger active" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#about">Explanation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#portfolio">Chart</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#team">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#contact">Prediction</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section id="home" class="main-banner parallaxie"
		style="background: url('{{ url_for('static', filename='uploads/HFL.png') }}')">
		<div class="heading">
			</h3>
		</div>
	</section>

	<div id="about" class="section wb" data-aos="zoom-in">
		<div class="container">
			<div class="row">
				<div class="">
					<div class="message-box">
						<div class="section-title text-center">
							<h3>Explanation</h3>
							<p style='text-align: justify;'>
								Penyakit kardiovaskular (CVD) adalah penyebab kematian nomor 1 secara global, 
								merenggut sekitar 17,9 juta nyawa setiap tahun, yang menyumbang 31% dari semua 
								kematian di seluruh dunia. Gagal jantung adalah peristiwa umum yang disebabkan 
								oleh CVD dan himpunan data ini berisi 12 fitur yang dapat digunakan untuk 
								memprediksi kematian akibat gagal jantung. </p>

							<p style='text-align: justify;'>
								Sebagian besar penyakit kardiovaskular dapat dicegah dengan mengatasi faktor 
								risiko perilaku seperti penggunaan tembakau, pola makan yang tidak sehat dan 
								obesitas, ketidakaktifan fisik dan penggunaan alkohol yang berbahaya menggunakan 
								strategi di seluruh populasi. </p>

							<p style='text-align: justify;'>
								Orang dengan penyakit kardiovaskular atau yang berisiko kardiovaskular tinggi 
								(karena adanya satu atau lebih faktor risiko seperti hipertensi, diabetes, 
								hiperlipidemia atau penyakit yang sudah mapan) memerlukan deteksi dini dan
								 manajemen di mana model pembelajaran mesin dapat sangat membantu.</p>
							</p>
							<p style='text-align: justify;'>
								Pada Final Project 3, Data diambil dari kaggle dengan link : https://www.kaggle.com/datasets/andrewmvd/heart-failure-clinical-data
							</p>	
							<p style='text-align: justify;'>
								- Collaborators : Larxel (Owner)

							</p>
						</div><!-- end title -->

						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
									role="tab" aria-controls="nav-home" aria-selected="true">Keterangan</a>

							</div>
						</nav>
						<div class="tab-content mt-3 " id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
								aria-labelledby="nav-home-tab">
								<h3 style="text-align:center;font-weight:bolder; " class="text-muted">Keterangan</h3>
								<p style='text-align: justify;'>
									Dataset yang digunakan yaitu <b>Rain in Australia</b> yang berisi record data hujan
									harian selama 10 tahun
									di Australia. Kolom RainTomorrow adalah target variable yang mau diprediksi. Jika
									“Yes” maka besok harinya
									disana hujan 1mm atau lebih. Dataset ini memiliki 23 atribut, antara lain: </p>
								<ul>
									<li>Date: tanggal hari itu</li>
									<li>Location: lokasi, nama kota di Australia</li>
									<li>MinTemp: temperatur terendah hari itu dalam celcius</li>
									<li>MaxTemp: temperatur tertinggi hari itu dalam celcius</li>
									<li>Rainfall: jumlah curah hujan hari itu dalam mm</li>
									<li>Evaporation: jumlah evaporasi dalam mm dari Class A pan selama 24 jam sebelum
										jam 9 pagi hari itu</li>
									<li>Sunshine: jumlah jam hari itu cerah dengan cahaya matahari</li>
									<li>WindGustDir: arah kecepatan angin yang paling tinggi selama 24 jam sebelum jam
										12 malam hari itu</li>
									<li>WindGustSpeed: kecepatan angin yang paling tinggi dalam km/jam selama 24 jam
										sebelum jam 12 malam hari itu
									</li>
									<li>WindDir9am: arah angin jam 9 pagi</li>
									<li>WindDir3pm: arah angin jam 3 sore</li>
									<li>WindSpeed9am: kecepatan angin jam 9 pagi dalam km/jam dihitung dari rata-rata
										kecepatan angin 10 menit sebelum jam 3 sore</li>
									<li>WindSpeed3pm: kecepatan angin jam 3 sore dalam km/jam dihitung dari rata-rata
										kecepatan angin 10 menit sebelum jam 3 sore</li>
									<li>Humidity9am: humiditas jam 9 pagi dalam persen</li>
									<li>Humidity3pm: humiditas jam 3 sore dalam persen</li>
									<li>Pressure9am: tekanan udara jam 9 pagi dalam hpa</li>
									<li>Pressure3pm: tekanan udara jam 3 sore dalam hpa</li>
									<li>Cloud9am: persentase langit yang tertutup awan jam 9 pagi. dihitung dalam oktas,
										unit ⅛, menghitung berapa unit ⅛ dari langit yang tertutup awan. Jika 0, langit
										cerah, jika 8, langit sepenuhnya tertutup awan.</li>
									<li>Cloud3pm: persentase langit yang tertutup awan jam 3 sore</li>
									<li>Temp9am: temperatur jam 9 pagi dalam celcius</li>
									<li>Temp3pm: temperatur jam 3 sore dalam celcius</li>
									<li>RainToday: apakah hari ini hujan: jika curah hujan 24 jam sebelum jam 9 pagi
										melebihi 1 mm, maka nilai ini adalah 1, jika tidak maka 0.</li>
								</ul>
							</div>

							<div class="tab-pane fade" id="nav-profile" role="tabpanel"
								aria-labelledby="nav-profile-tab">
								<h3 style="text-align:center;font-weight:bolder;" class=" text-muted">Data</h3>
								<p style='text-align: justify;'>
									Dataset yang digunakan yaitu <b>Rain in Australia</b> yang berisi record data hujan
									harian selama 10 tahun
									di Australia. Kolom RainTomorrow adalah target variable yang mau diprediksi. Jika
									“Yes” maka besok harinya
									disana hujan 1mm atau lebih. Dataset ini memiliki 23 atribut, antara lain: </p>
								<ul>
									<li>Date: tanggal hari itu</li>
									<li>Location: lokasi, nama kota di Australia</li>
									<li>MinTemp: temperatur terendah hari itu dalam celcius</li>
									<li>MaxTemp: temperatur tertinggi hari itu dalam celcius</li>
									<li>Rainfall: jumlah curah hujan hari itu dalam mm</li>
									<li>Evaporation: jumlah evaporasi dalam mm dari Class A pan selama 24 jam sebelum
										jam 9 pagi hari itu</li>
									<li>Sunshine: jumlah jam hari itu cerah dengan cahaya matahari</li>
									<li>WindGustDir: arah kecepatan angin yang paling tinggi selama 24 jam sebelum jam
										12 malam hari itu</li>
									<li>WindGustSpeed: kecepatan angin yang paling tinggi dalam km/jam selama 24 jam
										sebelum jam 12 malam hari itu
									</li>
									<li>WindDir9am: arah angin jam 9 pagi</li>
									<li>WindDir3pm: arah angin jam 3 sore</li>
									<li>WindSpeed9am: kecepatan angin jam 9 pagi dalam km/jam dihitung dari rata-rata
										kecepatan angin 10 menit sebelum jam 3 sore</li>
									<li>WindSpeed3pm: kecepatan angin jam 3 sore dalam km/jam dihitung dari rata-rata
										kecepatan angin 10 menit sebelum jam 3 sore</li>
									<li>Humidity9am: humiditas jam 9 pagi dalam persen</li>
									<li>Humidity3pm: humiditas jam 3 sore dalam persen</li>
									<li>Pressure9am: tekanan udara jam 9 pagi dalam hpa</li>
									<li>Pressure3pm: tekanan udara jam 3 sore dalam hpa</li>
									<li>Cloud9am: persentase langit yang tertutup awan jam 9 pagi. dihitung dalam oktas,
										unit ⅛, menghitung berapa unit ⅛ dari langit yang tertutup awan. Jika 0, langit
										cerah, jika 8, langit sepenuhnya tertutup awan.</li>
									<li>Cloud3pm: persentase langit yang tertutup awan jam 3 sore</li>
									<li>Temp9am: temperatur jam 9 pagi dalam celcius</li>
									<li>Temp3pm: temperatur jam 3 sore dalam celcius</li>
									<li>RainToday: apakah hari ini hujan: jika curah hujan 24 jam sebelum jam 9 pagi
										melebihi 1 mm, maka nilai ini adalah 1, jika tidak maka 0.</li>
								</ul>
							</div>
						</div>
					</div><!-- end messagebox -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->


	<div id="portfolio" class="section lb" data-aos="fade-up">
		<div class=" container">
			<div class="section-title text-center">
				<h3>Chart</h3>
				<p>A chart can represent tabular numeric data, functions or some kinds of quality structure and provides
					different info.
				</p>
			</div><!-- end title -->

			<div class="gallery-menu row">
				<div class="col-md-12">

				</div>
			</div>



			<div class="gallery-list row">
				<!-- Gal_A Section -->
				<!-- 1 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/a.png') }}"
										data-caption="Transport Name">
										<img src="{{ url_for('static', filename='uploads/a.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/b.png') }}"
										data-caption="Services Type">
										<img src="{{ url_for('static', filename='uploads/b.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/c.png') }}"
										data-caption="Weather">
										<img src="{{ url_for('static', filename='uploads/c.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/d.png') }}"
										data-caption="Route">
										<img src="{{ url_for('static', filename='uploads/d.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/e.png') }}"
										data-caption="Route">
										<img src="{{ url_for('static', filename='uploads/e.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/f.png') }}"
										data-caption="Route">
										<img src="{{ url_for('static', filename='uploads/f.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/g.png') }}"
										data-caption="Route">
										<img src="{{ url_for('static', filename='uploads/g.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/h.png') }}"
										data-caption="Route">
										<img src="{{ url_for('static', filename='uploads/h.png') }}"
											alt="" width="720" height="480">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 7 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/i.png') }}"
										data-caption="Route">
										<img src="{{ url_for('static', filename='uploads/i.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Gal_B Section -->
				<!-- 1 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/j.png') }}"
										data-caption="Transport Name">
										<img src="{{ url_for('static', filename='uploads/j.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/k.png') }}"
										data-caption="Weather">
										<img src="{{ url_for('static', filename='uploads/k.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 3 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/l.png') }}"
										data-caption="Month">
										<img src="{{ url_for('static', filename='uploads/l.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 4 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/m.png') }}"
										data-caption="Weather">
										<img src="{{ url_for('static', filename='uploads/m.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 5 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/n.png') }}"
										data-caption="Weather">
										<img src="{{ url_for('static', filename='uploads/n.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- 6 -->
				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div>
						<div class="uk-card-hover bg-transparent">
							<!-- Animate png -->
							<div class="uk-animation-toggle" tabindex="0">
								<div>
									<a class="uk-inline"
										href="{{ url_for('static', filename='uploads/o.png') }}"
										data-caption="Weather">
										<img src="{{ url_for('static', filename='uploads/o.png') }}" alt=""
											width="720" height="480">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Member Team -->
	<div id="team" class="section wb" data-aos="zoom-in">
		<div class="container">
			<div class="section-title text-center">
				<h3>Our Team</h3>
				<p>This group contains 2 certified independent study participants, namely:
				</p>
			</div><!-- end title -->

			<div class="row">
				<div class="col-sm">
					<div class="our-team">
						<div class="pic">
							<img src="{{ url_for('static', filename='uploads/EL.png') }}">
						</div>

					</div>
				</div>

				<div class="col-sm">
					<div class="our-team">
						<div class="pic">

							<img src="{{ url_for('static', filename='uploads/AN.png') }}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
		<div class="container" data-aos="fade-up">
  
		  <div class="section-title text-center">
			<h2>Prediction Section</h2>
			<p>In this Heart Failure Prediction section will be using method, namely <b>Extra Trees Classifier</b>.</p>
		  </div>
  
		  <div class="section-title text-center">
  
			<div class="col-lg-5 d-flex align-items-stretch">
			  <div class="info">
				<div class="address">
				  <h4>Hasil Prediksi</h4>
				  <p>{{ prediction_text }}</p>
				</div>
  			  
			  </div>
  
			</div>
  
			<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
			  <form action="{{ url_for('predict')}}" method="post" class="php-email-form">
				<div class="row">
				  <div class="form-group">
					<label for="usia">Age (Range (40 - 95))</label>
					<input type="number" class="form-control" name="usia" id="usia"
					  placeholder="Age" required min="40" max="95">
				  </div>
				  <div class="form-group">
					<label for="anaemia">---|Anaemia</label>
					<select class="form-select" aria-label="Default select example" name="anaemia">
					  <option selected>Choose for Anemia section</option>
					  <option value="0">The patient does not have anemia</option>
					  <option value="1">Patient has anemia</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="creatinin_fosfokinase">---| Creatinin Fosfokinase (Range (23 - 7861))</label>
					<input type="number" class="form-control" name="creatinin_fosfokinase" id="creatinin_fosfokinase"
					  placeholder="Creatinin Fosfokinase" required min="23" max="7861">
				  </div>
				  <div class="form-group">
					<label for="diabetes">---|Diabetes</label>
					<select class="form-select" aria-label="Default select example" name="diabetes">
					  <option selected>Choose for Diabetes section</option>
					  <option value="0">Patient does not have diabetes</option>
					  <option value="1">Patient has diabetes</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="fraksi_ejeksi">Fraksi Ejeksi</label>
					<select class="form-select" aria-label="Default select example" name="fraksi_ejeksi">
					  <option selected>Choose for Ejection Fraction section</option>
					  <option value="14">14</option>
					  <option value="15">15</option>
					  <option value="17">17</option>
					  <option value="20">20</option>
					  <option value="25">25</option>
					  <option value="30">30</option>
					  <option value="35">35</option>
					  <option value="38">38</option>
					  <option value="40">40</option>
					  <option value="45">45</option>
					  <option value="50">50</option>
					  <option value="55">55</option>
					  <option value="60">60</option>
					  <option value="62">62</option>
					  <option value="65">65</option>
					  <option value="70">70</option>
					  <option value="80">80</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="tekanan_darah_tinggi">High Blood Pressure</label>
					<select class="form-select" aria-label="Default select example" name="tekanan_darah_tinggi">
					  <option selected>Choose for the High Blood Pressure section</option>
					  <option value="0">The patient does not have high blood pressure</option>
					  <option value="1">The patient has high blood pressure</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="platelets">Platelets(Range (25100 - 850000))</label>
					<input type="number" class="form-control" name="platelets" id="platelets"
					  placeholder="Platelets" required min="25100" max="850000">
				  </div>
				  <div class="form-group">
					<label for="kreatinin_serum">---|Kreatinin Serum (Range (0 - 10))</label>
					<input type="number" class="form-control" name="kreatinin_serum" id="kreatinin_serum"
					  placeholder="Kreatinin Serum" required min="0" max="10">
				  </div>
				  <div class="form-group">
					<label for="sodium_serum">Sodium Serum(Range (113 - 148))</label>
					<input type="number" class="form-control" name="sodium_serum" id="sodium_serum"
					  placeholder="Sodium Serum" required min="113" max="148">
				  </div>
				  <div class="form-group">
					<label for="jenis_kelamin">---|Sex</label>
					<select class="form-select" aria-label="Default select example" name="jenis_kelamin">
					  <option selected>Choose for the Sex section</option>
					  <option value="0">Perempuan</option>
					  <option value="1">Laki-laki</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="perokok">Smoking</label>
					<select class="form-select" aria-label="Default select example" name="perokok">
					  <option selected>Choose for Smoking section</option>
					  <option value="0">No</option>
					  <option value="1">Yes</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="time">---|Time (Range (4 - 285))</label>
					<input type="number" class="form-control" name="time" id="time"
					  placeholder="Times " required min="4" max="285">
				  </div>
				  <div class="text-center"><button type="submit">Predict</button></div>
			  </form>
			</div>
  
		  </div>
  
		</div>
	  </section><!-- End Contact Section -->
	  
	<div class="copyrights">
		<div class="container">
			<div class="footer-distributed">
				<div class="footer-center">
					<p class="footer-company-name">Prediction Site &copy; 2022 | Designed By :Andreas & Elizabeth </p>
				</div>
			</div>
		</div><!-- end container -->
	</div><!-- end copyrights -->

	<a href="#" id="scroll-to-top" class="dmtop global-radius">
		<div style="font-size: 20px;">Top</div>
	</a>

	<!-- ALL JS FILES -->

	<script src="{{ url_for('static', filename='js/all.js') }}"></script>
	<!-- Camera Slider  -->
	<script src="{{ url_for('static', filename='js/jquery.mobile.customized.min.js ') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/parallaxie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/headline.js') }}"></script>
	<!-- Contact form JavaScript -->
	<script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
	<script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>
	<!-- ALL PLUGINS -->
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.vide.js') }}"></script>
	<!-- Style JS -->
	<script src="{{ url_for('static', filename='js/style.js') }}"></script>
	<!-- UIKIT JS CDN -->
	<script src="{{ url_for('static', filename='js/uikit.min.js') }}">
	</script>
	<script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
	<script>
		AOS.init();
	</script>
</body>

</html>